.MovieProfile {
  display: flex;
  flex-direction: row;
}
.MovieProfile > * {
  margin: 10px;
}

.MovieGenreTag {
  margin: 5px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
