.SearchMovie {
  display: flex;
  flex-direction: column;
}

.SearchMovieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.inputStyle {
  width: 350px;
  height: 25px;
}
